.movie-container {
  width: 340px;
  height: min-content;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-poster {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.movie-name {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.movie-summary {
  margin-top: 0;
}

.movie-rating {
  font-size: 20px;
}

.movie-list-container {
  display: flex;
  margin-top: 20px;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.body{
  font-family:Roboto, sans-serif;
}

.notfound{
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;    
}
.movie-details-container{
  max-width: 750px;
  padding: 16px;
}